body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/078/original/mirror.svg.jpg?1705589062");
  background-size: cover;
  background-position: center;
  margin: 25px;
  padding: 25px;
  border-radius: 5px;
  font-family: "Asap Condensed", sans-serif;
}

footer {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.weather-app {
  background: linear-gradient(179.7deg, rgb(248, 126, 126) -0.5%, rgb(251, 206, 143) 35.3%, rgb(184, 252, 233) 67.2%, rgb(118, 162, 229) 92.3%);
  padding: 25px;
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(238, 176, 238);
}
