body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/078/original/mirror.svg.jpg?1705589062");
  background-size: cover;
  background-position: center;
  margin: 25px;
  padding: 25px;
  border-radius: 5px;
}
