body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/078/original/mirror.svg.jpg?1705589062");
  background-size: cover;
  background-position: center;
  margin: 25px;
  padding: 25px;
  border-radius: 5px;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 900;
}

footer {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: rgba(20, 18, 29, 0.4);
  padding: 10px -5px;
}

.weather-app {
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -0.5%,
    rgb(251, 206, 143) 35.3%,
    rgb(184, 252, 233) 67.2%,
    rgb(118, 162, 229) 92.3%
  );
  padding: 25px;
  margin: 10px;
  border-radius: 5px;
  border-color: rgb(238, 176, 238);
  border-top: 1px solid rgb(249, 247, 254);
}

form {
  border-bottom: 1px solid rgba(230, 93, 104, 0.438);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.city-text {
  font-size: 14px;
  border-radius: 5px;
  padding: 15px 20px;
  background: rgb(184, 252, 233) 67.2%;
  border: none;
  width: 60%;
}

.submit-button {
  font-size: 14px;
  border-radius: 5px;
  padding: 15px 20px;
  background: rgb(118, 162, 229) 92.3%;
  border: none;
  width: 20%;
  margin-left: -10px;
}

.submit-button:hover {
  background: rgb(86, 233, 50) 92.3%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.city {
  font-size: 46px;
  font-weight: 1200;
  margin: 30px 0;
}

strong {
  color: rgba(121, 2, 2, 0.966);
  text-decoration: solid;
  font-weight: 700;
}

.weather-app-conditions {
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.6);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
  padding: -10px 20px;
  margin: 35px 40px;
}

.unit {
  margin-top: 6px;
  font-size: 28px;
}

.temp {
  font-size: 88px;
  line-height: 48px;
  font-weight: bold;
  margin-top: 25px;
}

h1 {
  display: flex;
  margin-left: 10px;
}

.weather-container {
  display: block;
}
